source.txt.txt
datasets/GlobalLandTemperaturesByCity.csv
datasets/GlobalLandTemperaturesByCountry.csv
datasets/GlobalLandTemperaturesByMajorCity.csv
datasets/GlobalLandTemperaturesByState.csv
datasets/GlobalTemperatures.csv
